[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/ros2_rs_pcl"]
	path = src/ros2_rs_pcl
	url = https://github.com/fis-teria/ros2_rs_pcl.git
