[submodule "src/drivers/realsense-ros"]
	path = src/drivers/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git

[submodule "src/slam/rtabmap_ros"]
	path = src/slam/rtabmap_ros
	url = git@github.com:fis-teria/rtabmap_ros.git

[submodule "src/drivers/livox_ros_driver2"]
	path = src/drivers/livox_ros_driver2
	url = git@github.com:fis-teria/livox_ros_driver2.git

[submodule "src/drivers/ws_livox/src"]
	path = src/drivers/ws_livox/src
	url = git@github.com:fis-teria/livox_ros2_driver.git

[submodule "src/img_proc/mediapipe_ros2_suite"]
	path = src/img_proc/mediapipe_ros2_suite
	url = git@github.com:fis-teria/mediapipe_ros2_suite.git

[submodule "src/slam/navigation2"]
	path = src/slam/navigation2
	url = git@github.com:fis-teria/navigation2.git

[submodule "src/drivers/pointcloud_to_laserscan"]
	path = src/drivers/pointcloud_to_laserscan
	url = git@github.com:fis-teria/pointcloud_to_laserscan.git

[submodule "src/adas/livox_lane_detection"]
	path = src/adas/livox_lane_detection
	url = git@github.com:fis-teria/livox_lane_detection.git
	branch = feature/ros2_live_integration

[submodule "src/slam/fast_lio_ros2"]
	path = src/slam/fast_lio_ros2
	url = git@github.com:fis-teria/FAST_LIO_ROS2.git
[submodule "src/drivers/ros2_v4l2_camera"]
	path = src/drivers/ros2_v4l2_camera
	url = https://github.com/fis-teria/ros2_v4l2_camera.git
[submodule "src/img_proc/yolo_ros"]
	path = src/img_proc/yolo_ros
	url = https://github.com/mgonzs13/yolo_ros.git
	branch = main
